# .github/workflows/release.yml
name: release

on:
  push:
    branches:
      - NH-85695-Add-signing-binaries-mac

permissions:
  contents: write
  # packages: write
  # issues: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
      - name: Install SignPath Powershell module
        shell: pwsh
        run: Install-Module -Name SignPath -Confirm:$False -Force
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v1"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SP_CI_USER_TOKEN: ${{ secrets.SP_CI_USER_TOKEN }}
          SP_ORGANIZATION_ID: ${{ secrets.SP_ORGANIZATION_ID }}
          SP_PROJECT: ${{ secrets.SP_PROJECT }}

          SWO_ISSUER_ID: ${{ secrets.SWO_ISSUER_ID }}
          SWO_KEY_ID: ${{ secrets.SWO_KEY_ID }}
          SWO_MAC_P8_FILE: ${{ secrets.SWO_MAC_P8_FILE }}
          SWO_MAC_P12_CERT: ${{ secrets.SWO_MAC_P12_CERT }}
          SWO_P12_PASSWORD: ${{ secrets.SWO_P12_PASSWORD }}
